.Fight-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 10vh;
    padding: 5px;
  }

.fightCard {
  border-style: solid;
  border-color: black;
  border-width: thick;
  color: black;
  border-radius: 5%;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.active {
  width: 128px;
  background-color: #83EA83;
}

.alive {
  width: 128px;
  background-color: #77D5D5;
}

.defeated {
  width: 128px;
  background-color: #718DCD;
}