.Fight-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 10vh;
    padding: 5px;
  }

.fightCard {
  font-size: clamp(16px,1vw,24px);
  white-space: nowrap;
  border-style: solid;
  border-color: black;
  border-width: thick;
  color: black;
  border-radius: 5%;
}

.circle {
  border-radius: 50%;
  max-width: 8px;
  height: 8px;
}

.active {
  width: 128px;
  background-color: #83EA83;
}

.alive {
  width: 128px;
  background-color: #77D5D5;
}

.defeated {
  width: 128px;
  background-color: #fb8585;
}