button {
  background-color: #77D5D5;
  color: black;
  border-style: solid;
  border-color: blue;
  border-width: thin;
  margin: 8px;
  padding: 8px;
}

.Gallery {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
}

.Gallery-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 10vh;
  padding: 5px;
}

.Gallery-content {
  display: flex;
  flex-direction: row;
  align-items: start;
  min-height: 70vh;
}

.filter-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  color: black;
}


.multiselect__control {
  border: solid thick blue;
  width: 256px;
  height: 64px;
  border-radius: 5%;
  margin: 8px;
  overflow: hidden;
}

.multiselect__control:hover {
  height: fit-content;
}

.multiselect__value-container {
  background-color: #77D5D5;
  border-left: solid thick blue;
  border-top: solid thick blue;
  border-bottom: solid thick blue;
  display: flex;
  flex-direction: row;
}

.multiselect__multi-value {
  background-color: #fb8585;
  border: solid thick blue;
  border-radius: 5%;
  width: fit-content;
  height: 40px;
  font-size: 24px;
}



.multiselect__multi-value__label {
  background-color: #83EA83;
  padding: 400px;
}

.multiselect__multi-value__remove {
  background-color: #fb8585;
}







.multiselect__indicators {
  background-color: darkcyan;
  border-right: solid thick blue;
  border-top: solid thick blue;
  border-bottom: solid thick blue;
  color: #83EA83;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.multiselect__indicator-separator {
  display: none;
}

.multiselect__dropdown-indicator {
  background-color: #83EA83;
  height: 32px;
  margin: 0px;
}

.multiselect__clear-indicator {
  background-color: #fb8585;
  height: 32px;
  margin: 0px;
}
  
.multiselect__container {
  background-color: indigo;
}

.css-tj5bde-Svg {
  color: black;
}

.multiselect__placeholder {
  background-color: #77D5D5;
  color: black;
}








.multiselect__group {
  background-color: salmon
}

.multiselect__group-heading {
  background-color: darkorange
}

.multiselect__indicators-container {
  background-color: violet
}



.multiselect__input {
  background-color: rgb(100, 62, 191);
  color: rgb(152, 230, 174)
}

.multiselect__loading-indicator {
  background-color: yellow
}

.multiselect__loading-message {
  background-color: navy
}

.multiselect__menu {
  background-color: saddlebrown
}

.multiselect__menu-list {
  background-color: aqua
}

.multiselect__menu-portal {
  background-color: hotpink
}




.multiselect__no-options-message {
  background-color: whitesmoke
}

.multiselect__option {
  background-color: khaki;
}



.multiselect__single-value {
  background-color: rgb(214, 42, 42)
}





.Gallery-vertical-panel {
  display: flex;
  margin-top: 6vh;
  flex-direction: column;
  align-items: start;
  position: sticky;
  top: 0;
}

.Gallery-sortBlock {
  width: 100%;
}

.Card-block {
  height: 75vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  box-sizing: border-box;
  overflow-y:scroll;
  scrollbar-color: #C5D3F5 #4D6AAD;
  scrollbar-width: thin
}

.char-card {
  background-color: #77D5D5;
  color: black;
  border-style: solid;
  border-color: blue;
  border-width: thick;
  border-radius: 5%;
  width: 256px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

.cardImg {
  width: 200px;
  height: 200px;
}

.Gallery-info-panel {
  background-color: #77D5D5;
  color: black;
  border-style: solid;
  border-color: blue;
  border-width: thick;
  border-radius: 5%;
  width: 256px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.Unlocked {
  filter: contrast(100%) brightness(100%);
}

.Locked {
  filter: contrast(0%) brightness(50%);
}

.Available {
  filter: contrast(0%) brightness(50%);
}