button {
  background-color: rgb(158, 189, 189);
  color: black;
  border-style: solid;
  border-color: blue;
  border-width: thin;
  margin: 8px;
  padding: 8px;
}

.Gallery {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
}

.Gallery-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 10vh;
  padding: 5px;
}

.Gallery-content {
  display: flex;
  flex-direction: row;
  align-items: start;
  min-height: 70vh;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.filter-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.p-multiselect {
  background-color: rgb(141, 223, 223);
  color: black;
  border-style: solid;
  border-color: blue;
  width: 256px;
  height: 5vh;
  border-width: thick;
  border-radius: 5%;
  margin: 8px;
}
.p-multiselect-panel {
  background-color: rgb(141, 223, 223);
}

.p-multiselect-item {
  background-color: rgb(144, 223, 141);
  color: black;
  border-style: solid;
  border-color: blue;
  display: flex;
  flex-direction: row;
}

.Gallery-vertical-panel {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: sticky;
  top: 0;
}

.Card-block {
  height: 75vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
  box-sizing: border-box;
  overflow-y:scroll;
  scrollbar-color: rgb(169, 106, 6) rgb(62, 52, 32);
  scrollbar-width: thin
}

.char-card {
  background-color: rgb(141, 223, 223);
  color: black;
  border-style: solid;
  border-color: blue;
  border-width: thick;
  border-radius: 5%;
  width: 256px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

.cardImg {
  width: 200px;
  height: 200px;
}

.Gallery-info-panel {
  background-color: rgb(141, 223, 223);
  color: black;
  border-style: solid;
  border-color: blue;
  border-width: thick;
  border-radius: 5%;
  width: 256px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 10px;
}

.Unlocked {
  filter: contrast(100%) brightness(100%);
}

.Locked {
  filter: contrast(0%) brightness(50%);
}

.Available {
  filter: contrast(0%) brightness(50%);
}